[submodule "ubuntu-packages"]
	path = ubuntu-packages
	url = git@gist.github.com:8a4f12d1f8d5dc3f0e8736b806bd77b8.git
[submodule "docker-installer"]
	path = docker-installer
	url = git@gist.github.com:75bf4fcb6463f750ca8e669350110c4f.git
[submodule "plantuml-installer"]
	path = plantuml-installer
	url = git@gist.github.com:3654d9148340e3e76bf4f94e1cd463db.git
[submodule "signal-installer"]
	path = signal-installer
	url = git@gist.github.com:becffcecd61985894b85e544ce228756.git
[submodule "chitubox-installer"]
	path = chitubox-installer
	url = git@gist.github.com:b804f247f2e52d90c2290189707ad97e.git
[submodule "gt-installer"]
	path = gt-installer
	url = git@gist.github.com:6d9b040f393e0a248826dd3c6cfca743.git
[submodule "dropbox-installer"]
	path = dropbox-installer
	url = git@gist.github.com:ef81648cf82f023692d04bf832eb8883.git
[submodule "keybase-installer"]
	path = keybase-installer
	url = git@gist.github.com:aaf1e3dd0ae4a34a66dcaec3d4380fc5.git
[submodule "tng-chime-installer"]
	path = tng-chime-installer
	url = git@gist.github.com:19261dc41797ce81e8ef3e12b93bf323.git
[submodule "kpcli-installer"]
	path = kpcli-installer
	url = git@gist.github.com:60586b7e2962f42e9692cadb6c3d24b7.git
[submodule "arduino-installer"]
	path = arduino-installer
	url = git@gist.github.com:dffa4e4add50b9381bfd0021a7e1aaa3.git
[submodule "rbenv-installer"]
	path = rbenv-installer
	url = git@gist.github.com:aa4c5a8167509b94ac43405f99bc9ffd.git
[submodule "nvm"]
	path = nvm
	url = git@github.com:nvm-sh/nvm.git
